 body {
            font-family: 'Arial', sans-serif;
            background: #f0f4f7;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150vh;
        }
        h2 {
            color: #333;
            margin-bottom: 20px;
        }
        .container {
            max-width: 500px;
            width: 1000%;
            padding: 19px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        select, input, button {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
        }
        select:focus, input:focus, button:focus {
            border-color: #6c63ff;
            outline: none;
        }
        select {
            background-color: #f9f9f9;
        }
        input[type="date"] {
            background-color: #f9f9f9;
        }
        .seats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            margin-top: 20px;
            margin-left: 50px;
        }
        .seat {
            width: 50px;
            height: 50px;
            background-color: #ccc;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: bold;
            font-size: 18px;
        }
        .seat.selected {
            background-color: #28a745;
            color: white;
        }
        .seat.booked {
            background-color: #dc3545;
            cursor: not-allowed;
        }
        button {
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 18px;
        }
        button:hover {
            background-color: #0056b3;
        }
        #summary {
            margin-top: 20px;
            font-weight: bold;
            font-size: 16px;
            color: #333;
        }
        label {
            text-align: left;
            display: block;
            font-size: 16px;
            margin-bottom: 6px;
        }